# Pandas Visualiaztions

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pylot as plt

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [5]:
df = pd.read_csv(r"C:\Users\DestinJones\Desktop\SQL\Python\Data\Ice Cream Ratings.csv")
df

       Date  Flavor Rating  Texture Rating  Overall Rating
0  1/1/2022       0.223090        0.040220        0.600129
1  1/2/2022       0.635886        0.938476        0.106264
2  1/3/2022       0.442323        0.044154        0.598112
3  1/4/2022       0.389128        0.549676        0.489353
4  1/5/2022       0.386887        0.519439        0.988280
5  1/6/2022       0.877984        0.193588        0.832827
6  1/7/2022       0.140995        0.325110        0.105147